.row {
  max-width: $grid-width; 
  // 1140px is common width that people give these days we convert that into rem
  //if it is less then 114 rem then it will simply fill 100% of the view port
  background-color: #eee;
  margin: 0 auto;
  //to center a block element inside a block element
  

  &:not(:last-child){ //this means row:not
    //not selects everything except the last child
    margin-bottom: $gutter-vertical;
  }

//   $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-horizontal: 6rem;
  @include clearfix;
  
  [class^="col-"] {
    background-color: orangered;
    float: left;
    //as soon as all the child are floating the container collapses and has height 0px
    //we use clear fix hack to fix that problem

  }

  .col-1-of-2 {
    //look at the image you have screenshot. the width of the first bar is total width (100%) - gutter space divide by 2
    width: calc((94.7%-#{$gutter-horizontal})/2);
    


    &:not(:last-child){
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-3 {

    width: calc((94.7%- 2* #{$gutter-horizontal })/3);
    background-color: orangered;
    
    &:not(:last-child){
      margin-right: $gutter-horizontal;
    }

  }
}
